@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IStringLocalizer<SharedResources> SharedLocalizer

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Profile" asp-action="Index" >@SharedLocalizer["Hello"] @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">@SharedLocalizer["Logout"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register" >@SharedLocalizer["Register"]</a></li>
        <li><a asp-controller="Account" asp-action="Login">@SharedLocalizer["Login"]</a></li>
    </ul>
}